# Sequence Data Types
## List
<p>Python list is a collection of objects enclosed by square braces [   ]</p>

### Declaration & Properties

In [1]:
var = [1,2]
print(type(var))
print(var)

<class 'list'>
[1, 2]

<b>List are heterogeneous</b>
- members of a list can be of different data types (can a another list or sets also)

In [4]:
var = [1,2,'a',1.2,['a','b']] # notice the last element is list type 
print(var)

[1, 2, 'a', 1.2, ['a', 'b']]

<b>Lists are ordered</b>
- members of list can be accessed by index
- index start from 0
- index are enclosed in square braces [ ]

In [5]:
var = [1,2,'a',1.2,['a','b']] 
print("First Index ",var[0]) # Accessing the first index of a list

First Index  1

<b>Lists are mutable</b>
- Individual elements of a list can be changed without declaring a new list
- To Change an element of a list access the element by the index and assign the required value

In [6]:
var = [1,2,'a','b'] # we will replace 'a' with 'hello'
print("Before Changing ",var)
var[2] = 'hello'
print("After Changing",var)

Before Changing  [1, 2, 'a', 'b']
After Changing [1, 2, 'hello', 'b']

## Tuples
### Declaration and Properties
<p>Python list is a collection of objects enclosed by braces (  )</p>

In [7]:
var = (1,2,3)
print("Type is ",type(var))
print(var)

Type is  <class 'tuple'>
(1, 2, 3)

<b>Tuples are heterogeneous</b>
- members of a tuple can be of different data types (can a another tuple or list also)

In [8]:
var = (1,2,'a',1.2,('a','b')) # notice the last element is tuple type 
print(var)

(1, 2, 'a', 1.2, ('a', 'b'))

<b>Tuples are ordered</b>
- members of tuple can be accessed by index
- index start from 0
- index are enclosed in square braces [ ]

In [9]:
var = (1,2,'a',1.2,('a','b')) 
print("First Index ",var[0]) # Accessing the first index of a tuple

First Index  1

<b>Tuples are immutable</b>
- Individual elements of a tuple cannot be changed without declaring a new tuple
- To Change an element of a tuple declare a new tuple object

In [10]:
var = (1,2,'a',1.2,('a','b')) # we will try to change the first index of this tuple
var[0] = 2 # notice that this throws an error

TypeError: 'tuple' object does not support item assignment

In [11]:
var = (1,2,'a',1.2,('a','b')) # to change the first element of a tuple we have declared a new tuple altogether
print("old tuple -->",var)
var = (1.2,2,'a',1.2,('a','b'))
print("new tuple -->",var)

old tuple --> (1, 2, 'a', 1.2, ('a', 'b'))
new tuple --> (1.2, 2, 'a', 1.2, ('a', 'b'))

## Sets
### Declaration and Properties

<p>Python list is a collection of objects enclosed by curly braces { }</p>

In [13]:
var = {1,2,3}
print(type(var))
print(var)

<class 'set'>
{1, 2, 3}

<b>Sets are heterogeneous</b>
- members of a sets can be of simple data type (unhashable type) 
- other list and sets cannot be added

In [18]:
var = {1,2,'a'}
print(var)

{1, 2, 'a'}

<b>Sets are unordered</b>
- members of set cannot be accessed by index

<b>Sets are immutable</b>
- Individual elements of a set cannot be changed without declaring a new set
- To Change an element of a set declare a new set object
- Also Duplicates values are not allowed in a set , if you add duplicate it will be considered as a single object

In [21]:
var = {1,2,1} # Declaring a set with duplicates 
print(var) # notice that only 1 is present only once

{1, 2}

## Dictonary
### Declaration and Properties

<p>Python dictonary is a collection of objects enclosed by curly braces { }</p>
<p>dictonaries are a combination of key value pair seperated by : sign</p>
<p>to acces a values use the key in square braces</p>

In [22]:
var = {'a':1}
print(type(var))

<class 'dict'>

In [23]:
print(var['a']) # accessing the first element of the dict

1

<b>keys of dictonary are heterogeneous</b>
- members of a keys can be of any simple data type

In [28]:
var = {'a':1,'b':2,4:'a'}
print(var)

{'a': 1, 'b': 2, 4: 'a'}

In [29]:
var = {'a':1,'b':2,4:'a',[1]:'a'} #adding a list as a key will throw an error 
print(var)

TypeError: unhashable type: 'list'

In [30]:
var = {'a':1,'b':(1),4:'a',1:['a']} #but list and sets can be added as values
print(var)

{'a': 1, 'b': 1, 4: 'a', 1: ['a']}

<b>Dictonaries are mutable</b>
- a value of a dictonary can be changed by accessing its key assiging it to new value
- Also Duplicates values are not allowed in key of a dict,if you provide duplicate values the newest values will be considered

In [32]:
var = {'a':1,'b':(1),4:'a',1:['a']}
print("Before Changing",var)
var['a']=2
print("After Changing",var)

Before Changing {'a': 1, 'b': 1, 4: 'a', 1: ['a']}
After Changing {'a': 2, 'b': 1, 4: 'a', 1: ['a']}

In [34]:
var = {'a':1,'a':2} # value for key a will be 2 here
var

{'a': 2}

<b>Accessing keys and values of a dictonary</b>
- use keys() method to access all the keys and values() method to access all the values

In [37]:
var = {'a':1,'b':(1),4:'a',1:['a']}
print("Keys -->",var.keys())
print("Values -->",var.values())

Keys --> dict_keys(['a', 'b', 4, 1])
Values --> dict_values([1, 1, 'a', ['a']])

# Data Type Conversion
- conver a variable to any data type using the data type's conversion function 
- use int() to conver a variable to integer, similarly we have functions like float(), str(), bool() etc
- Python will simple throw and error if the data type conversion is not possible

In [42]:
# Int to float
var_int = 1
print("Before float conversion ",var_int)
print("After float conversion ",float(var_int))

Before float conversion  1
After float conversion  1.0

In [43]:
# float to int
var_float = 1.9
print("Before int conversion ",var_float)
print("After int conversion ",int(var_float)) # notice that only integer part will be extracted

Before int conversion  1.9
After int conversion  1

In [48]:
# String to Int
var_str = '1' # non numerci values here will throw an error
print(int(var_str))

1

In [49]:
# str to float
var_str = '1'
print(float(var_str))

1.0

In [51]:
# Int to string & float to string
var_int = 1
print("integer to string -->",str(var_int))
var_float = 1.1
print("float to string -->",str(var_float))

integer to string --> 1
float to string --> 1.1

In [52]:
# Int or Float to boolean
var_int = 1
print("integer to Boolean -->",bool(var_int)) 
var_float = 1.1
print("float to Boolean -->",bool(var_float))

integer to Boolean --> True
float to Boolean --> True

In [60]:
# tuple to list & list to tuple
var_list = [1,2,3,4,5]
print(tuple(var_list))
var_tuple = (1,2,3,4,5)
print(list(var_list))

(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5]

In [64]:
# String to list or tuple
var_str = "Hello World"
print("String to list",list(var_str))
print("String to tuple",tuple(var_str))

String to list ['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']
String to tuple ('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd')