# Arithmetic Operators
- Addition + (var1 + var2)
- Subtraction - (var1 - var2)
- Multiplication * (var1 - var2)
- Division / (var1 / var2)
- Modulus % (var1 % var 2)
- Exponentiation ** (var1**var2)
- Floor division // (var1//var2)

- Modulus operator - Reminder of the division 
- Floor division - Division of first variable with second variable

In [1]:
var1 = 7
var2 = 4
print(var1%var2) # Reminder

3

In [3]:
var1 = 7
var2 = 4
print(var1//var2) # Quotient

1

<h1 align="center">Assignment Operators</h1>
<table class="ws-table-all notranslate">
<tbody><tr>
<th style="width:25%">Operator</th>
<th style="width:20%">Example</th>
<th style="width:20%">Same As</th>
</tr>
<tr>
<td>=</td>
<td>x = 5</td>
<td>x = 5</td>
</tr>
  <tr>
<td>+=</td>
<td>x += 3</td>
<td>x = x + 3</td>
  </tr>
  <tr>
<td>-=</td>
<td>x -= 3</td>
<td>x = x - 3</td>
  </tr>
  <tr>
<td>*=</td>
<td>x *= 3</td>
<td>x = x * 3</td>
  </tr>
  <tr>
<td>/=</td>
<td>x /= 3</td>
<td>x = x / 3</td>
  </tr>
  <tr>
<td>%=</td>
<td>x %= 3</td>
<td>x = x % 3</td>
  </tr>
  <tr>
<td>//=</td>
<td>x //= 3</td>
<td>x = x // 3</td>
  </tr>
  <tr>
<td>**=</td>
<td>x **= 3</td>
<td>x = x ** 3</td>
  </tr>

</tbody></table>


<h1 align="center">Comparison Operator </h1>
<table class="ws-table-all notranslate">
<tbody><tr>
<th style="width:25%">Operator</th>
<th style="width:35%">Name</th>
<th style="width:30%">Example</th>
</tr>
<tr>
<td>==</td>
<td>Equal</td>
<td>x == y</td>
</tr>
<tr>
<td>!=</td>
<td>Not equal</td>
<td>x != y</td>
</tr>
<tr>
<td>&gt;</td>
<td>Greater than</td>
<td>x &gt; y</td>
</tr>
<tr>
<td>&lt;</td>
<td>Less than</td>
<td>x &lt; y</td>
</tr>
  <tr>
<td>&gt;=</td>
<td>Greater than or equal to</td>
<td>x &gt;= y</td>
  </tr>
<tr>
<td>&lt;=</td>
<td>Less than or equal to</td>
<td>x &lt;= y</td>
</tr>
</tbody></table>

<h1 align="center">Logical Operators </h1>
<table class="ws-table-all notranslate">
<tbody><tr>
<th style="width:25%">Operator</th>
<th style="width:35%">Description</th>
<th style="width:30%">Example</th>
</tr>
<tr>
<td>and&nbsp;</td>
<td>Returns True if both statements are true</td>
<td>x &lt; 5 and&nbsp; x &lt; 10</td>
</tr>
<tr>
<td>or</td>
<td>Returns True if one of the statements is true</td>
<td>x &lt; 5 or x &lt; 4</td>
</tr>
<tr>
<td>not</td>
<td>Reverse the result, returns False if the result is true</td>
<td>not(x &lt; 5 and x &lt; 10)</td>
</tr>
</tbody></table>

Q1. Write a python code which considered two vairable and give the ourput of the famous equation (a+b)^2

In [ ]:
Q2. find out if quotient of below 2 division are same or not.
27/5 , 30/5

In [ ]:
Q3. For below 2 divisions identify if reminder of first division is greater than second
27/5 , 30/5

In [ ]:
Q4. Find the are of a right angles triangle with base=4 and height =3.

In [11]:
# Consider below operations
a = 5          # initialize the value of a          
print("Is this statement true?:",a > 3 and a < 5)  
print('Any one statement is true?:',a > 3 or a < 5)  
print('Each statement is true then return False and vice-versa:',(not(a > 3 and a < 5)))

Is this statement true?: False
Any one statement is true?: True
Each statement is true then return False and vice-versa: True