# String

- capitalize()	- Converts the first character to upper case
- casefold()	-Converts string into lower case
- center()	-Returns a centered string
- count()	-Returns the number of times a specified value occurs in a string
- encode()	-Returns an encoded version of the string
- endswith()-	Returns true if the string ends with the specified value
- expandtabs()-	Sets the tab size of the string
- find()-	Searches the string for a specified value and returns the position of where it was found
- format()-	Formats specified values in a string
- format_map()-	Formats specified values in a string
- index()-	Searches the string for a specified value and returns the position of where it was found
- isalnum()-	Returns True if all characters in the string are alphanumeric
- isalpha()-	Returns True if all characters in the string are in the alphabet
- isascii()-	Returns True if all characters in the string are ascii characters
- isdecimal()-	Returns True if all characters in the string are decimals
- isdigit()-	Returns True if all characters in the string are digits
- isidentifier()-	Returns True if the string is an identifier
- islower()-	Returns True if all characters in the string are lower case
- isnumeric()-	Returns True if all characters in the string are numeric
- isprintable()-	Returns True if all characters in the string are printable
- isspace()-	Returns True if all characters in the string are whitespaces
- istitle()-	Returns True if the string follows the rules of a title
- isupper()	-Returns True if all characters in the string are upper case
- join()-	Converts the elements of an iterable into a string
- ljust()-	Returns a left justified version of the string
- lower()-	Converts a string into lower case
- lstrip()-	Returns a left trim version of the string
- maketrans()-	Returns a translation table to be used in translations
- partition()-	Returns a tuple where the string is parted into three parts
- replace()-	Returns a string where a specified value is replaced with a specified value
- rfind()-	Searches the string for a specified value and returns the last position of where it was found
- rindex()-	Searches the string for a specified value and returns the last position of where it was found
- rjust()-	Returns a right justified version of the string
- rpartition()-	Returns a tuple where the string is parted into three parts
- rsplit()-	Splits the string at the specified separator, and returns a list
- rstrip()-	Returns a right trim version of the string
- split()-	Splits the string at the specified separator, and returns a list
- splitlines()-	Splits the string at line breaks and returns a list
- startswith()-	Returns true if the string starts with the specified value
- strip()-	Returns a trimmed version of the string
- swapcase()-	Swaps cases, lower case becomes upper case and vice versa
- title()-	Converts the first character of each word to upper case
- translate()-	Returns a translated string
- upper()-	Converts a string into upper case
- zfill()-	Fills the string with a specified number of 0 values at the beginning

In [2]:
# String can be made with both double and single quotes 
str1="Hello world"
str2 ='Hello World'

In [3]:
# if a string already contains single quote use double quote to enclose it and vice versa 
str1 ="Hello' World"
print(str1)

Hello' World

In [4]:
# Accessing string from index
str1 = "Hello World"
print("First char in string",str1[0]) # first index of the string
print("Last charecter in string",str1[-1]) # last index of the string

First char in string H
Last charecter in string d

In [5]:
# Slicing a string( get char between 2nd and 7th index) 
print(str1[2:7])

llo W

In [6]:
# String are immutable in python 
str1[4]='a' # this will throw an error

TypeError: 'str' object does not support item assignment

In [7]:
# use triple quotes for multiline string
str1 ="""hello world 
python is the best programming language"""
print(str1)

hello world
python is the best programming language

# String Operations

In [9]:
#Compare two string
str1="Hello world"
str2="Python is best"
str3="Hello world"
print(str1==str2)
print(str1==str3)

False
True

In [11]:
# Concatenate two or more string
print(str1+' '+str2)

Hello world Python is best

In [14]:
# loop through a string (below code will check if a is present in the string)
str1='python is a procedural programmin language'
for i in str1:
    if i=='a':
        print("a is present")
        break

a is present

In [ ]:
str1="Hello world"
for idx,val in enumerate(str1):
    if val=='o':
        print("o is present",idx)

In [15]:
# get length of a string 
len(str1)

42

In [16]:
# Membership test(check if a particular charecter is present in the string or not)
print('a' in str1)
print('z' in str1)

True
False

In [17]:
# upper ,lower(),capitalize(),replace()
print(str1.upper())
print(str1.lower())
print(str1.capitalize())
print(str1.replace('a','z'))

PYTHON IS A PROCEDURAL PROGRAMMIN LANGUAGE
python is a procedural programmin language
Python is a procedural programmin language
python is z procedurzl progrzmmin lznguzge

In [21]:
# startswith(),isnumeric(),endswith(),islapha()
print(str1.startswith('pyth'))
print(str1.endswith('za'))
print(str1.isnumeric())
print('123'.isnumeric())
print('123'.isalpha())

True
False
False
True
False

In [24]:
#Exercise 1 - find out total numeric charecters in the below string
str1="World crude steel production for the 71 countries reporting to the World Steel Association (worldsteel) was 155.7 million tonnes (Mt) in April 2024, a 5.0% decrease compared to April 2023."
numeric_count=0
for i in str1:
    if i.isnumeric():
        numeric_count+=1
print("Total numeric values in string are ",numeric_count)

Total numeric values in strings are  16

In [26]:
# Formatting string 
print(f"Total numeric values in string are {numeric_count}") # if we write f at the start of the string we can use the variables
# in curly braces

Total numeric values in string are 16

In [28]:
# raw format
print("hello python is \n best programming language") # notice a new line in the output due to \n
print(r"hello python is \n best programming language") # the new line will not be present now and \n will be printed as is

hello python is
 best programming language
hello python is \n best programming language

In [29]:
# index of a char in string
str1.index('a') # return the first index of a char in a string

85

In [31]:
# remove extra spaces from start or end or both of a string
str1=" Hello world "
print(str1.lstrip())
print(str1.rstrip())
print(str1.strip())

Hello world
 Hello world
Hello world

In [32]:
# spillitng a string basis a special charecter
str1 ="apple, mango,banana,orange"
str1.split(',') # retruns a list type

['apple', ' mango', 'banana', 'orange']

In [34]:
# Exercise 2 split string on the basis of comma and remove spaces in each substring and print it 
str1 ="apple, mango,banana,orange"
for i in str1.split(','):
    print(i.strip())

apple
mango
banana
orange

In [36]:
# Reverse a string 
print(str1)
print(str1[::-1])

apple, mango,banana,orange
egnaro,ananab,ognam ,elppa

In [40]:
# Exercise 3 below string has fruit names seperated by comma , modify the string such that order of the fruits is reversed 
# but individual name of the fruit should remain same
str1 ="apple, mango,banana,orange"
new_String=''
for i in str1[::-1].split(','):
    new_String = new_String+','+i[::-1]
new_String=new_String[1:]
new_String

'orange,banana, mango,apple'

In [41]:
#Exercise 4 get last 3 charecter of a string 
str1[-3:]

'nge'

In [42]:
#Exercise 4 get all charecters of a string after 4th index 
str1[4:]

'e, mango,banana,orange'

In [45]:
# join() function in list of string (if you have a list of strings you can join then by a seperator as below)
str_list =["apple","mango","banana","orange"]
"|".join(str_list) # fruits will be replaced by our chosen charecter

'apple|mango|banana|orange'

In [47]:
# Chain string method
string = "   Hello, World!   "
string.strip().lower().replace("world", "Python")

'hello, Python!'