In [1]:
# Defining a function  
def my_function():
    print("Hello from a function")
# Calling a function 
my_function()

Hello from a function

In [2]:
# adding argument 
def my_func(a):
    print(a)
my_func('hello')

hello

In [4]:
# multiple arguments  
def my_func(a,b):
    print(a+b)
my_func(1,2)

3

In [5]:
# return statement in a function 
def my_func(a,b):
    return a+b
var1=1
var2=2
total=my_func(var1,var2)
print(total)

3

In [8]:
# what if the number of arguemts are not fixed
def my_func(*args):
    return sum(args)
print(my_func(1,2,3))
print(my_func(1,2,3,4))
print(my_func(1,2,3,5,6))

tuple

In [10]:
# keyword argument - you can also send named arguments to the function
def my_func(val1,val2,val3):
    print(f"val1 is {val1}")
    print(f"val2 is {val2}")
    print(f"val3 is {val3}")
my_func(val1=1,val3=3,val2=2) # notice that i am passing val3 first and val2 at the last because this is a keyword argument

val1 is 1
val2 is 2
val3 is 3

In [11]:
# Artibitary keyword argument
def myfunc(**keyword):
    print("my name is ",keyword['name'])
    print("my occupation is ",keyword['occ'])
myfunc(name='pranjal',occ='DS')

my name is  pranjal
my occupation is  DS

In [13]:
# Default value of a parameter
def myfunc(a,b=2):
    return a/b
myfunc(2,1)

2.0

In [14]:
# Passing sequence data types in function 
def myfunc(l):
    for i in l:
        print(i)
lst=[1,2,3,2,1]
myfunc(lst)

1
2
3
2
1

In [15]:
# recursive functions - finding factoricla
def factorical(n):
    if n==0:
        return 1
    else:
        return n*factorical(n-1)
factorical(5)

120

# Lambda functions
- it is anonymous function in python because it has no name
- can take any number of arguments

In [16]:
add = lambda x,y:x+y
add(3,4)

7

In [17]:
# It is used to create another function
def myfunc(n):
    return lambda x:x*n
doubler=myfunc(2)
tripler=myfunc(3)
print(doubler(5))
print(tripler(5))

10
15

In [18]:
# write a function to check if a number is a prime number or not

In [19]:
# write a function to count the number of vowels in a sentence

In [ ]:
# write a function that returns the sum of a list

# Some important modules (random,os,datetime)
## OS 
- provides function to interact with operative system

In [20]:
import os

In [21]:
# get current working directory 
os.getcwd()

'C:\\Users\\pranjal.p.bhatt.INTKYV\\Documents\\python projects\\Training'

In [ ]:
# make a directory
os.mkdir("directory_path")

In [24]:
# join file and folder names 
folder_path=r"C:\Users\pranjal.p.bhatt.INTKYV\Documents\python projects\Training"
file_name="Test Data.csv"
os.path.join(folder_path,file_name)

'C:\\Users\\pranjal.p.bhatt.INTKYV\\Documents\\python projects\\Training\\Test Data.csv'

In [25]:
# list of all files in a folder
os.listdir(folder_path)

['.ipynb_checkpoints',
 '2. Operators in python.ipynb',
 '3. Loops & Control Statement in python.ipynb',
 '4. String Operations.ipynb',
 '5. list, sets, tuple & dictionary operations.ipynb',
 '6. Python Functions.ipynb',
 '6.Assignement - functions.ipynb',
 'Assignment 2 - Operators.ipynb',
 'Assignment 3 - Loops & Control Statement.ipynb',
 'Assignment 4 - list ,tuple,sets & dict operations.ipynb',
 'imputer_mean_02.pkl',
 'imputer_mean_910.pkl',
 'imputer_most_frequent_38.pkl',
 'labelEncoder_3.pkl',
 'labelEncoder_4.pkl',
 'labelEncoder_5.pkl',
 'labelEncoder_6.pkl',
 'labelEncoder_7.pkl',
 'labelEncoder_8.pkl',
 'myModel.pkl',
 'onehotencoder.pkl',
 'scaler.pkl',
 'Statistics',
 'Test Data.csv',
 'Training Data.csv',
 'Use Case.ipynb']

In [26]:
# remove file or directory 
# os.remove(file_full_path)
# os.rmdir(folder_path)

In [28]:
# check if a path exist or not
os.path.exists("file_path")

False

## Datetime module

In [29]:
import datetime as dt

In [31]:
# get current time 
print(dt.datetime.now())
print(type(dt.datetime.now()))

2024-05-31 16:19:55.803702
<class 'datetime.datetime'>

In [35]:
# converting current time to string 
print(str(dt.datetime.now()))

2024-05-31 16:20:56.426767

In [38]:
# extract only current date 
print(dt.datetime.now().date())

2024-05-31

In [42]:
# convert string to datetime type object 
time_str='2020-01-31 00:21:30'
datetime_object=dt.datetime.strptime(time_str,'%Y-%m-%d %H:%M:%S')
datetime_object

datetime.datetime(2020, 1, 31, 0, 21, 30)

In [44]:
# extracting year ,month etc from datetime types object 
print(datetime_object.year)
print(datetime_object.month)
print(datetime_object.day)
print(datetime_object.hour)

2020
1
31
0

In [47]:
# convert datetime to string format 
time_str='2020-01-31 00:21:30'
datetime_object=dt.datetime.strptime(time_str,'%Y-%m-%d %H:%M:%S')
str_object=dt.datetime.strftime(datetime_object,'%m-%d-%Y %H:%M:%S')

str_object

'01-31-2020 00:21:30'

In [52]:
# difference between 2 date object 
start=dt.datetime.now()
[x**2 for x in range(10000000)]
delta=dt.datetime.now()-start
delta.total_seconds()

2.975802

# Random module
- used to generate random data

In [53]:
import random

In [54]:
# generate random number between a range 
random.randint(1,100)

34

In [58]:
# generate random decimal number 
random.uniform(a=100,b=1000) # random decimal number between 100 and 1000

247.97584647445072

In [62]:
# get random value from a list 
sample_list=[1,2,3,4,5,6,6,7,8]
print(random.choice(sample_list))

7

Q1. Write a function format_greeting(name, age) that takes a person's name and age and returns a formatted string: "Hello, my name is {name} and I am {age} years old."
Q2. Write a function safe_divide(a, b) that takes two numbers and returns their division. If the divisor is zero, return "Division by zero is not allowed."
Q3. Print characters from a string that are present at an even index number
Q4. write a function to Remove first n characters from a string
Q5. Print the following pattern
1
2 2
3 3 3
4 4 4 4 4
5 5 5 5 5 5